<h2 class="text-center">Events List</h2>
<div class="d-flex">
  <button class="btn btn-primary ml-auto" (click)="createEvent()">Create Event</button>
</div>
<div class="table">
  <table>
    <tr>
      <th>Event Name</th>
      <th>Event Description</th>
      <th>Event Date</th>
      <th>Event Type</th>
      <th>Action</th>
    </tr>
    <tr *ngFor='let event of events'>
      <td>{{event.name}}</td>
      <td>{{event.description}}</td>
      <td>{{event.date }}</td>
      <td [ngSwitch]="event.eventType">
        <span *ngSwitchCase=1>Concert</span>
        <span *ngSwitchCase=2>Conference</span>
        <span *ngSwitchCase=3>Party</span>
        <span *ngSwitchCase=4>Meet-up</span>
        <span *ngSwitchDefault>N/A</span>
      </td>
      <td>
        <button (click)="editEvent(event)">Edit</button>
        <!-- <span *ngIf="confirmDelete">
        <span>Are you sure you want to Delete?</span>
        
         <button class="btn btn-danger"(click)='deleteEvent(event)'>Yes</button>
        <button class="btn btn-primary"(click)='confirmDelete=false'>No</button>

        </span>
        <button *ngIf="!confirmDelete"
        (click)="confirmDelete=true">Delete</button>
        </td> -->
        <!-- <app-delete *ngIf='confirmDelete'></app-delete>  -->
        <button (click)="confirmDelete=true">Delete</button>
      <!-- <app-delete *ngIf='confirmDelete' (close)="closeEvent()" (deleteClose)="deleteEvent(event)"></app-delete>  -->
       

    </tr>

  </table>
<!-- <app-delete *ngIf='confirmDelete' (close)="closeEvent()" (deleteClose)="deleteEvent(event)"> -->
<!-- </app-delete> --> 

</div>
<!-- <div class="pagination">
    <button class="btn page-btn" [class.disabled]="currentPage==1" (click)="getCurrentPageEvents(currentPage-1)"
      [disabled]="currentPage==1">
      Prev
    </button> -->
<!-- <button
          *ngFor="let page of pages"
          class="btn page-btn"
          [class.active]='page==currentPage'
          (click)="getCurrentPageEvents(page)"
        >
          {{page}}
        </button>
        <button
          class="btn page-btn"
          [class.disabled]="currentPage==totalPageCount"
          (click)="getCurrentPageEvents(currentPage+1)"
          [disabled]="currentPage==totalPageCount"
        >
          Next
        </button> -->

<!-- <app-pagination [eventsTotalCount]="eventsTotalCount"></app-pagination> -->
<!-- </div> -->
<app-pagination>{{pagedItems}}</app-pagination>